################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/RLBotCSharpExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RLBotCSharpExample/obj/Debug/RLBot.csproj.CoreCompileInputs.cache
/RLBotCSharpExample/obj/Release/RLBot.csproj.CoreCompileInputs.cache
/RLBotCSharpExample/obj/Release/RLBot.csprojAssemblyReference.cache
/RLBotCSharpExample/obj/x64/Debug/RLBot.csproj.CoreCompileInputs.cache
/RLBotCSharpExample/obj/x64/Debug/RLBot.csprojAssemblyReference.cache
/RLBotCSharpExample/obj/x64/Release/RLBot.csproj.CoreCompileInputs.cache
/.vs/RLBotCSharpExample/v15/Server/sqlite3/db.lock
/.vs/RLBotCSharpExample/v15/Server/sqlite3/storage.ide
/.vs/RLBotCSharpExample/v15/Server/sqlite3/storage.ide-shm
/.vs/RLBotCSharpExample/v15/Server/sqlite3/storage.ide-wal
/.vs/RLBotCSharpExample/v15/.suo
/.vs/RocketLeague-Bot/v15/.suo
